//mobile and tablet
@media(max-width:1023px){

    .app__container .hide-on-mobile-and-tablet{
        display: none;
        
    }
    .header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 5;
    }
    .header__with-seach .header__seach .header__seach-input-wrap .header__seach-history{
        z-index: 6;
    }
    .header__with-seach .header__seach .header__seach-selection .header__seach-option{
        z-index: 6;
    }
   
    .header .navbar {
        display: none;
    }
   
    :root{
       
        --header-height:70px;
        --navbar-height:0px;
        --header__with-seach-height:calc( var(--header-height) - var(--navbar-height));
        --start-gold-color:rgb(224, 212, 99);
    }
  /*  .header__with-seach .header__logo{
       display: none;
   } */
   .app__container{
    margin-top: calc(var(--header-height) + var(--header__sort-bar-height) );
}
.home-product{
    margin-top: 0;
}
   /* phần show sản phẩm ở cart */
   .header__with-seach .header__cart .header__cart-wrap .wrap-header__cart-list{
       position: fixed;
       width: 100%;
       top: var(--header-height);
       right: 0;
       //chỉnh cho nội dung cân bằng với phần sản phẩm 
       padding: 0 calc((100% - 654px) / 2 );
       &::after{
           display: none;
       }
   }
   
   /* làm hiện .header__sort-bar */
   .header__sort-bar{
       display: flex;
   }
}

//tablet
@media ( min-width:740px)and (max-width:1023px){
    .header__with-seach .header__logo{
        display: none;
    }
    .header__with-seach .header__cart{
        width: 90px;
    }
    
}

//mobile
@media (max-width:739px){
    .hide-on-mobile{
        display: none;
    }
    .header__with-seach {
        justify-content: space-between;
        .header__seach{ //cái này khi focus vào thanh tìm kiếm thì mới xuất hiện
            display: none;
        }
        /* làm nút bấm  */
        .click-mobile-seach-checkbox:checked ~ .header__seach{
            display: flex;
            position: fixed;
            padding: 0 16px ;
            left: 0;
            right: 0;
            top: calc();
            top: var(--header-height);
            z-index: 6;
        }
    .header__seach-mobile{
        display: flex;
        width: 64px;//bằng with cả cái cart
        height: 100%;
        justify-content: center;
        align-items:center ;
        
        i{
            font-size: 2.8rem;
            display: block;
            color: var( --white-color);
        }
    }
    .header__logo{
        width: unset;
        .header__logo-link{
            display: block;
            img{
                margin: 0;
            }
        }
    }
    .header__seach .header__seach-input-wrap .header__seach-history{
        position: fixed;
        top: calc(var(--header__sort-bar-height) + var(--header-height) -3 px);
        width: 100%;
      
    }
    
    .header__cart{
       width: unset;
       /* .header__cart-wrap{
        
       } */
    }
    /* chỉnh sửa phần chọn trang ở cuối */
}
.home-panigation .home-panigation-iteam{
    width: 20px;
    margin:  0 10px;
    .home-panigation-iteam-link{
       width: 100%;
       height: 100%;
    }
    .home-panigation-iteam-link--actice{
        width: 40px;
        height: 32px;
    }
}
.mobile__category{
    display: block;
}
}

